.d*/
*.o
*.lo
Makefile
Make*.in
Ma*file

compi*e
confi*.guess
confi*.h
confi*.h.in
confi*.log
confi*.status
confi*.sub
confi*ure
depco*p
instal*-sh

aclocal.m4
autom4te.cache/
build.sh
ccan/libccan.a
ccan/opt/.dirstamp
cgminer
compat/jansson-2.9/aclocal.m4
compat/jansson-2.9/arm-linux-gnueabi-libtool
compat/jansson-2.9/autom4te.cache/
compat/jansson-2.9/jansson.pc
compat/jansson-2.9/jansson_private_config.h
compat/jansson-2.9/jansson_private_config.h.in
compat/jansson-2.9/ltmain.sh
compat/jansson-2.9/missing
compat/jansson-2.9/src/.libs/
compat/jansson-2.9/src/jansson_config.h
compat/jansson-2.9/src/libjansson.la
compat/jansson-2.9/stamp-h1
compat/jansson-2.9/test-driver
lib/.deps/
lib/Makefile
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/warn-on-use.h
missing
stamp-h1

